html{
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

.container{
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 15px;
}

.article{
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title{
    max-width: 596px;
    margin-bottom: 40px;
    font-family: Oswald;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-title-large{
    font-size: 48px;
}

.article-title-medium{
    font-size: 36px;
}

.article-text{
    max-width: 1220px;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2c332f;    
}

.article-mb{
    margin-bottom: 80px;
}

.article-img{
    margin-bottom: 80px;
}

.article-text-h2{
    max-width: 744px;
}

.article-list{
    max-width: 179px;
    padding-left: 16px;
}

.article-item{
    margin-bottom: 12px;
}

.article-video{
    margin-bottom: 40px;
}

li::marker {
    color: blue;
    font-size: 20px;
}
